.hover {     
  padding: 12px;
  background: red;
  color: white;
}
.hover: hover{
  background: darkgreen;
  transform: scale(1.2);
}
  dropdown:hover. options{
display: block;}
.options a {t display: block;
padding: box; color: black;}
zoomimage {
transtion: 0.3;
}
.zoomimage: hover {
transform: scalo (1.2) ;
}
